<br>
<footer class="text-white">
        <div class="container-fluid text-center">
           <span> &copy; 2019 Copyrigth  <a href="/accueil">Blog Foot</a> </span>- Réalisé par Telbois Larry
        </div>
    </footer>
</div>
</body>
</html>