<% include ./partials/header.ejs %>

<main id="presentation">
    <h1 class=" h2 text-center">
        Ici, sur BlogFoot nous vous proposons 3 services distincts:
    </h1>
    <br>
    <p>
        <img src="../asset/images/presentation.jpg" alt="présentation" class="img-fluid offset-4">
    </p>    
    <section id="service" class="row">
        <div class="col-4">
            <h4>Actualités de foot</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, a corporis culpa quis reiciendis suscipit voluptatum itaque pariatur consectetur eveniet animi hic nobis beatae non! Voluptate alias aspernatur minus velit.
            </p>
        </div>
        <div class="col-4">
            <h4>Résultats des matchs</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, a corporis culpa quis reiciendis suscipit voluptatum itaque pariatur consectetur eveniet animi hic nobis beatae non! Voluptate alias aspernatur minus velit.
            </p>
        </div>
        <div class="col-4">
            <h4>Résumés en vidéo</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, a corporis culpa quis reiciendis suscipit voluptatum itaque pariatur consectetur eveniet animi hic nobis beatae non! Voluptate alias aspernatur minus velit.
            </p>
        </div>
    </section>
    <hr>
    <a href="/connexion" class=" offset-11 badge badge-secondary">Admin</a>
<% include ./partials/footer.ejs %>
